{% extends "appCore/layout.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<h2>Art Portfolio</h2>
<div class="art-grid">
    {% for artwork in artworks %}
    <div class="art-card art-image" style="background-image: url('{{ artwork.image.url }}');">
        <span>{{ artwork.title }}</span>
        <a class="art-byline" href="{% url 'artist_profile' artwork.artist.username %}">
            by: {{ artwork.artist.username }}
        </a>
    </div>
    {% endfor %}
</div>
<a href="{% url 'upload_artwork' %}">Upload New Artwork</a>
{% endblock %}
